@import '_global';
@import '_variables';

.header {
    &__inner {
        height: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-link {
            @include orange-button;
            margin-right: 36px;
        }

        &-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 10px 28px;
            font-weight: 700;
        }

        &-button {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-image: url(../images/Person.svg);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                top: 11px;
            }
        }
    }
}

.logo {
    margin-right: 60px;
}

.logo__img {}

.menu {
    &__list {
        &-item {
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                transition: transform 0.4s ease;
                transform-origin: center;
                border-radius: 15px;
            }
            &:hover::before {
                transform: scaleX(1);
            }

            &+& {
                margin-left: 40px;
            }

            &__link {
                font-weight: 700;
            }
        }
    }
}